.env/
.idea/
client/.env
client/node_modules/
backend/.env
backend/node_modules/
.vscode/
stt-service/.env
stt-service/credentials.json
stt-service/venv/
stt-service/app/__pycache__/
stt-service/app/venv/
client/.expo/
backend/uploads/
ai_descriptions/venv/
ai_descriptions/.env
ai_descriptions/uploads/
ai_descriptions/__pycache__/
visualSearch/.venv/
visualSearch/__pycache__
visualSearch/venv/
.vscode/
.DS_Store
*.log
backend/scripts/
visualSearch/model/
tests/
visualSearch/requirements-local.txt



# Recommender System
eain_rec/
recommender_system/checkpoints/
recommender_system/cache/
recommender_system/__pycache__/
recommender_system/*.pyc
recommender_system/data/*.npy
recommender_system/data/*.index
*.pth
*.npy
__pycache__/
*.pyc